<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>
    
    <body>
        
        <h1>About</h1>
        <h2>Welcome to my blog!</h2>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">

            <h2>About Us</h2>
            <p>We are sharing info with the world wide web!</p>
            
        </div>
        
        <%- include('./partials/footer.ejs') %>
        
    </body>
</html>